streamlit==1.20.0
pandas==1.4.2
numpy==1.22.3
scikit-learn==1.0.2
openpyxl==3.0.9
plotly==5.7.0
protobuf~=3.19.0
botorch
tabulate==0.8.9
Pillow==8.3.2
torch==1.9.1
scipy==1.7.1
gpytorch==1.5.1
openpyxl==3.0.9
matplotlib==3.4.3


